body {
    font-family: 'Poppins', sans-serif;
    background-color: #101010;
}


/* Navbar */
.navbar {
    z-index: 3;
}

/* Navbar color */

.nav-color {
    background: #435163;
    transition: all ease-in-out 0.4s;
}

bg.transparent {
    transition: all ease-in-out 0.4s;
}

* {
    z-index: 2;
}

.img-hero {
    z-index: 1;
}

.navbar-brand {
    font-size: 22px;
}

.nav-link {
    font-size: 16px;
}

.nav-link:hover {
    font-weight:700;
    color: #468CF5;
}


/* Navbar End */

/* Hero Section */

#hero {
color: #E9DCDC;
height: 100vh;
width: 100%;
}

.img-hero {
    margin-top: 260px;
}

.hero-tagline h1{
    color: #E9DCDC;
    font-weight: 700;
    font-size: 50;
    letter-spacing: 3%;
    line-height: 148%;
    margin-bottom: 20px;
    margin-top: 260px;
}

.hero-tagline p{
    font-size: 20px;
    color: #E9DCDC;
    margin-bottom: 40px ;
}

.btn button-fitur {
    width: 200px;
    height: 70px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 25px;
    background-color: #252732;
    color: #E9DCDC;
}

/* Hero Section End */

/* Service Section */

#layanan {
    padding: 100px 0;
}

h2 {
    font-size: 48px;
    font-weight: 600;
    color: #E9DCDC;
}

.sub-title {
    font-size: 18px;
    color: #E9DCDC;
}

.card-layanan {
    width: 100%;
    height: 313px;
    border-radius: 10px;
    background-color: #252732;
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.005);
    cursor: pointer;
    transition: all .2s ease-in;
}

.circle-icon {
    width: 115px;
    height: 120px;
    background-color: #fff;
    border-radius: 50%;
    transition: all .1s ease-in;
}

.card-layanan h3 {
    color: #E9DCDC;
    font-size: 24px;
    transition: all .2s ease-in;
}

.card-layanan p {
    color: #E9DCDC;
    font-size: 14px;
    transition: all .3s ease-in;
}
/* Service Section End */

/* Hover Layanan */
.card-layanan:hover {
    width: 100%;
    height: 313px;
    border-radius: 10px;
    background: #468CF5;
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.005);
    transition: all .2s ease-in;
}

.card-layanan:hover .circle-icon {
    width: 115px;
    height: 120px;
    background-color: rgb(11, 11, 11);
    border-radius: 50%;
    transition: all .1s ease-in;

}

.card-layanan:hover h3 {
    color: black;
    font-size: 24px;
    transition: all .2s ease-in;
}

.card-layanan:hover p {
    color: black;
    font-size: 14px;
    transition: all .3s ease-in;
}

/* End Hover Layanan */

/* Price */
#harga {
    padding: 100px 0;
}

h2 {
    font-size: 48px;
    font-weight: 600;
    color: #E9DCDC;
}

.sub-title {
    font-size: 18px;
    color: #E9DCDC;
}

.card-harga {
    width: 100%;
    height: 313px;
    border-radius: 10px;
    background-color: #252732;
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.005);
    cursor: pointer;
    transition: all .2s ease-in;
}

.circle-iconX {
    width: 115px;
    height: 120px;
    background-color: #fff;
    border-radius: 50%;
    transition: all .1s ease-in;
}

.card-harga h3 {
    color: #E9DCDC;
    font-size: 24px;
    transition: all .2s ease-in;
}

.card-harga p {
    color: #E9DCDC;
    font-size: 14px;
    transition: all .3s ease-in;
}

/* End price */

/* Hover Harga */
.card-harga:hover {
    width: 100%;
    height: 313px;
    border-radius: 10px;
    background: #6183b5;
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.005);
    transition: all .2s ease-in;
}

.card-harga:hover .circle-iconX {
    width: 115px;
    height: 120px;
    background-color: rgb(34, 30, 30);
    border-radius: 50%;
    transition: all .1s ease-in;

}

.card-harga:hover h3 {
    color: black;
    font-size: 24px;
    transition: all .2s ease-in;
}

.card-harga:hover p {
    color: black;
    font-size: 14px;
    transition: all .3s ease-in;
}

/* End Hover Layanan */

/* Search Section */

#search {
    background-image: url(asset/industrial.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#search h2 {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    color: #E9DCDC;
}

#search p {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    color: #E9DCDC;
}

.input-cari {
    height: 50px;
}

.input-cari:focus {
    border: none;
}

.input-cari .button-primary {
    height: 75px;
    background-color:  rgba(255, 255, 255, 0.8);
    color: #101010;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 0 10px 0 10px;
}

.nav-tabs {
    border: none;
}

.nav-tabs .nav-link {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 0 0 0;
}

.nav-tabs .nav-link.active {
    background-color: rgba(255, 255, 255, 0.8);
    color: #252732;
    font-weight: 500;
}

.nav-tabs .nav-link {
    color: #252732;
    border: none;
}

/* Search Section End */

/* Our Work */

.button-fitur {
    width: 238px;
    height: 63px;
    background-color: #468CF5;
    border: none;
    font-size: 20px;
    font-weight: 500;   
    color: #E9DCDC;
}

#fitur h2 {
    font-size: 48px;
    font-weight: 500;
}

.card-fitur h5 {
    color: #E9DCDC;
    font-size: 36px;
    font-weight: 600;
}

.card-fitur span {
    color: #E9DCDC;
    font-size: 14px;
}

.card-fitur h6 {
    color: #E9DCDC;
    font-size: 24px;
    font-weight: 600;
}

.card-fitur button {
    background-color: #468CF5;
    color: #fff;
    border: none;
    width: 150px;
    height: 45px;
    font-size: 18px;
    font-weight: 500;
}

.card-fitur .overlay {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: all ease-in-out .3s;
}

.card-fitur .overlay:hover {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
}

.button-arrow-left {
    border: none;
    border-radius: 50%;
    width: 61px;
    height: 61px;
    background-color: #468CF5;
    padding: 0;
}

.button-arrow-right {
    border: none;
    border-radius: 50%;
    width: 61px;
    height:61px;
    background-color: #468CF5;
    padding: 0;
    align-items: center;
}
/* Our Work End */

/* contact */
#contact {
    background-image: url(asset/kontak-img.png);
    margin-top: 158px;
    background-size: cover;
    background-repeat: no-repeat;
}

#contact .overlay {
    background: rgba(0, 0, 0, 0.5);
}

#contact .container {
    padding: 148px 0 148px 0;
}

#contact h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #E9DCDC;
}

.kontak h6 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #a2b9d8;
    margin: 19px 0 14px 0;
}

.kontak a {
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    color: #E9DCDC;
    text-decoration: none;
    margin-left: 18px;
    width: 332px;
    display: inline-block;
}

.linkMEHOME {
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    color: #E9DCDC;
    text-decoration: none;
}

.card-contact {
    width: 100%;
    height: 445px;
    background: #fff;
    border-radius: 5px;
    padding: 52px 48px;
}

.card-contact h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #101010;
    margin-bottom: 21px;
}

.form-control {
    background: #E9DCDC ;
    height: 75px !important;
}

.button-contact {
    width: 100%;
    height: 75px;
    background: #468CF5;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #E9DCDC;
}

footer {
    width: 100%;
    height: 270px;background: #101010;
}

.copyright {
    bottom: 1%;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

footer a {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
}

